
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Beyond Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3
Version: 1.0.0
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>用户登陆</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/Content/Beyond/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="~/Content/Beyond/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="~/Content/Beyond/css/font-awesome.min.css" rel="stylesheet" />

  

    <!--Beyond styles-->

    <link href="~/Content/Beyond/css/beyond.min.css" rel="stylesheet" />
    <link href="~/Content/Beyond/css/demo.min.css" rel="stylesheet" />
    <link href="~/Content/Beyond/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="~/Scripts/Beyond/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
        <form action="@Url.Action("Vail")" method="post">
            <div class="loginbox bg-white">
                <div class="loginbox-title">权限平台登陆</div>
                <div class="loginbox-social">
                    <div class="social-title ">使用社交账号登陆</div>
                    <div class="social-buttons">
                        <a href="" class="button-facebook">
                            <i class="social-icon fa fa-facebook"></i>
                        </a>
                        <a href="" class="button-twitter">
                            <i class="social-icon fa fa-twitter"></i>
                        </a>
                        <a href="" class="button-google">
                            <i class="social-icon fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="loginbox-or">
                    <div class="or-line"></div>
                    <div class="or">OR</div>
                </div>
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" name="userName" placeholder="用户名" />
                </div>
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" name="password" placeholder="密码" />
                </div>
                <div class="loginbox-forgot">
                    <a href="">Forgot Password?</a>
                </div>
                <div class="loginbox-submit">
                    <input type="submit" class="btn btn-primary btn-block" value="登陆">
                </div>

            </div>
        </form>
        <div class="logobox">
        </div>
    </div>


    <!--Basic Scripts-->
    <script src="~/Scripts/Beyond/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/Beyond/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="~/Scripts/Beyond/beyond.js"></script>

   
    
</body>
<!--Body Ends-->
</html>
