@model Common.ExpandMVC.GridTreeDataModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/treeGrid/css/jquery.treegrid.css" rel="stylesheet" />
<script src="~/Scripts/treeGrid/jquery.treegrid.min.js"></script>
<script src="~/Scripts/treeGrid/jquery.treegrid.bootstrap3.js"></script>
<script src="~/Scripts/Beyond/select2/select2.js"></script>
<link href="~/Content/Beyond/css/demo.min.css?v=1" rel="stylesheet" />
<link href="~/Content/bootstrap-treeview.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-treeview.js"></script>
<h2>模块配置</h2>

@(Html.TreeGrid<Authority.Model.ModuleViewModel>(Model, "treeGrid", "table-bordered table-striped table-condensed"))



<script type="text/javascript">

    var moduleModel = function (id,name,sort,descprtion,className) {
        this.ID = ko.observable(id);
        this.Name = ko.observable(name);
        this.Sort = ko.observable(sort);
        this.Description = ko.observable(descprtion);
        this.ClassName = ko.observable(className);
        this.Authoritys = ko.observableArray();
    };
    var authModel = function (id, name) {
        this.id = id;
        this.name = name;
    }
    var mainView = function () {
        var self = this;
        self.Authoritys = ko.observableArray();
        self.Module = ko.observable();

        $.post("@Url.Content("~/Authority/List")", function (data) {

            for (var c in data) {
                self.Authoritys.push(new authModel(data[c].ID, data[c].Name));
            }
        })
    };

    var viewModel = new mainView();



    function AddModel() {

        $("#myModalLabel").text("添加")
        $("#modal-body").load('@Url.Action("Create")', function () {
            viewModel.Module = new moduleModel(-1, "", 1, "", "glyphicon glyphicon-th-large");
            viewModel.Module.Authoritys = viewModel.Authoritys;
            ko.applyBindings(viewModel.Module, document.getElementById("module_form"));

            $('#myModal').modal('show');

            $("#e2").select2({
                placeholder: "选择基本权限",
                allowClear: true
            });
        })

    }
    $(document).ready(function () {
        $('#treeGrid').treegrid({
            expanderExpandedClass: 'glyphicon glyphicon-minus',
            expanderCollapsedClass: 'glyphicon glyphicon-plus'
        });

    });

    $("#modal-body").on('click', ".bs-glyphicons-list li", function (e) {
        viewModel.Module.ClassName($("span", this).attr("class"));

    });
</script>