<input class="form-control text-box single-line" id="treeSelect" name="treeSelect" type="text"  onkeydown="return false;" style= "ime-mode:disabled" value="" placeholder="请选择模块" />
<div class="ModuleTree" style="display:none;z-index:9999;position:absolute"></div>

<script type="text/javascript">
    var treeNode = null;
    $(function () {
      
        $("#treeSelect").click(function () {
            $(".ModuleTree").css("top", $("#treeSelect").position().top + $("#treeSelect").height() + 15 + "px").width($("#treeSelect").parent().width() + "px");
            $(".ModuleTree").toggle();
        });
    })
  

    $.post("@Url.Action("Tree")", function (data) {
        $('.ModuleTree').treeview({
            data: data,
            onNodeSelected: function (event, data) {
                $(".ModuleTree").toggle();
                $("#treeSelect").val(data.text);
                treeNode = data;
            }
        });
    })



</script>
