
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>通用权限管理后台</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/Content/Beyond/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="~/Content/Beyond/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Beyond/css/weather-icons.min.css" rel="stylesheet" />
    <!--Beyond styles-->

    <link href="~/Content/Beyond/css/beyond.min.css" rel="stylesheet" />
    <link href="~/Content/Beyond/css/typicons.min.css" rel="stylesheet" />


    <link href="~/Content/Beyond/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="~/Scripts/Beyond/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/Beyond/skins.min.js"></script>
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.validation.min.js"></script>
    <script src="~/Scripts/Knockout-validation-zh-ch.js"></script>
    <script src="~/Scripts/Beyond/bootbox/bootbox.js"></script>
    <style type="text/css">
        .validationMessage {
            color: #f00;
        }

        .customMessage {
            color: #FFA500;
        }
    </style>
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加</h4>
                </div>
                <div class="modal-body" id="modal-body">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnSave">保存更改</button>
                </div>


            </div>
        </div>
    </div>

    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <div class="modal-title">警告</div>

                <div class="modal-body" id="modal-alert">You'vd done bad!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>

    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loading-progress">
            <div class="rotator">
                <div class="rotator">
                    <div class="rotator colored">
                        <div class="rotator">
                            <div class="rotator colored">
                                <div class="rotator colored"></div>
                                <div class="rotator"></div>
                            </div>
                            <div class="rotator colored"></div>
                        </div>
                        <div class="rotator"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <!-- Beyond admin -->
                            <img src="~/Content/Beyond/img/logo.png" alt="" />
                        </small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->
                <!-- Account Area and Settings -->
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <div class="avatar" title="View your public profile">
                                        @*<img src="/Content/Beyond/img/avatars/adam-jansen.jpg">*@
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>Authority</span></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a></a></li>
                                    <li class="email"><a></a></li>
                                    <!--Avatar Area-->
                                    @*<li>
                                            <div class="avatar-area">
                                                <img src="~/Content/Beyond/img/avatars/adam-jansen.jpg" class="avatar">
                                                <span class="caption">Change Photo</span>
                                            </div>
                                        </li>*@
                                    <!--Avatar Area-->
                                    <li class="edit">
                                        <a href="profile.html" class="pull-left">Profile</a>
                                        <a href="#" class="pull-right">Setting</a>
                                    </li>
                                    <!--Theme Selector Area-->
                                    <li class="theme-area">
                                        <ul class="colorpicker" id="skin-changer">

                                            <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="~/Content/Beyond/css/skins/blue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="~/Content/Beyond/css/skins/azure.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="~/Content/Beyond/css/skins/teal.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="~/Content/Beyond/css/skins/green.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="~/Content/Beyond/css/skins/orange.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="~/Content/Beyond/css/skins/pink.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="~/Content/Beyond/css/skins/darkred.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="~/Content/Beyond/css/skins/purple.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="~/Content/Beyond/css/skins/darkblue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="~/Content/Beyond/css/skins/gray.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="~/Content/Beyond/css/skins/black.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="~/Content/Beyond/css/skins/deepblue.min.css"></a></li>
                                        </ul>
                                    </li>
                                    <!--/Theme Selector Area-->
                                    <li class="dropdown-footer">
                                        <a href="login.html">
                                            Sign out
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                            <!-- /Account Area -->
                            <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                            <!-- Settings -->
                        </ul>
                        <div class="setting">
                            <a id="btn-setting" title="Setting" href="#">
                                <i class="icon glyphicon glyphicon-cog"></i>
                            </a>
                        </div>
                        <div class="setting-container">
                            <label>
                                <input type="checkbox" id="checkbox_fixednavbar">
                                <span class="text">Fixed Navbar</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedsidebar">
                                <span class="text">Fixed SideBar</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                                <span class="text">Fixed BreadCrumbs</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedheader">
                                <span class="text">Fixed Header</span>
                            </label>
                        </div>
                        <!-- Settings -->
                    </div>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                    <li id="pageMain">
                        <a href="~/">
                            <i class="menu-icon glyphicon glyphicon-home"></i>
                            <span class="menu-text"> 首页 </span>
                        </a>
                    </li>
                    <!--Databoxes-->
                    @*<li>
                            <a href="#" class="menu-dropdown">
                                <i class="menu-icon fa fa-desktop"></i>
                                <span class="menu-text"> 系统配置 </span>
                                <i class="menu-expand"></i>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="elements.html">
                                        <span class="menu-text">菜单管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                    <!--Widgets-->
                    <li>
                        <a href="~/Home/RedirectOauth?url=http%3a%2f%2flocalhost%2fhanatechalarm%2falarm">
                            <i class="menu-icon glyphicon glyphicon-home"></i>
                            <span class="menu-text"> 报警平台 </span>
                        </a>
                    </li>
                    <li id="basic_config">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text"> 基本配置 </span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li id="basic_product">
                                <a href="~/AppConfig/Index">
                                    <span class="menu-text">APP配置</span>
                                </a>
                            </li>
                            <li id="basic_com">
                                <a href="~/Authority">
                                    <span class="menu-text">基本权限配置</span>
                                </a>
                            </li>
                            <li id="basic_product">
                                <a href="~/Module/Index">
                                    <span class="menu-text">模块配置</span>
                                </a>
                            </li>
                        </ul>


                    </li>
                    <!--UI Elements-->
                    <li id="config">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text"> 配置管理 </span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li id="config_station">
                                <a href="~/Station">
                                    <span class="menu-text">产品工位配置</span>
                                </a>
                            </li>
                            <li id="config_groupStation">
                                <a href="~/TemplateGroup">
                                    <span class="menu-text">工位模板组配置</span>
                                </a>
                            </li>
                            <li id="config_stationFile">
                                <a href="~/StationFile">
                                    <span class="menu-text">工位文件配置</span>
                                </a>
                            </li>
                            <li id="config_stationConfig">
                                <a href="~/StationConfig">
                                    <span class="menu-text">工位输入参数配置</span>
                                </a>
                            </li>
                            <li id="config_stationOutConfig">
                                <a href="~/StationOutConfig">
                                    <span class="menu-text">工位输出参数配置</span>
                                </a>
                            </li>
                            <li id="config_stationOutConfig1">
                                <a href="~/StationOutConfig1">
                                    <span class="menu-text">工位输出参数配置1</span>
                                </a>
                            </li>
                            <li id="config_stationOutConfig2">
                                <a href="~/StationTest1">
                                    <span class="menu-text">工位TEST1</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!--Tables-->
                    <li id="task">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text"> 生产管理 </span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li id="task_order">
                                <a href="~/Order">
                                    <span class="menu-text">任务单管理</span>
                                </a>

                            </li>
                            <li id="task_create">
                                <a href="~/Order/Create">
                                    <span class="menu-text">创建任务单</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="menu-icon fa fa-table"></i>
                            <span class="menu-text"> 报表管理 </span>
                        </a>
                    </li>

                </ul>
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->

            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="~/">首页</a>
                        </li>
                        <li>
                            <a href="#">Elements</a>
                        </li>

                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1></h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    @RenderBody()

                    <!--Row Ends-->
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <!--Basic Scripts-->


    <script src="~/Scripts/Beyond/bootstrap.min.js"></script>
    <!--Beyond Scripts-->


    <script src="~/Scripts/Beyond/beyond.min.js"></script>


</body>
<!--  /Body -->
</html>
